html {
  background-color: rgb(251, 241, 252);
}

h1.header {
  text-align: center;
  margin: 0;
  padding: 28px;
  color: rgb(58, 18, 0);
}

div.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.prefCheckbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.prefCheckbox p {
  margin: 12px;
  font-size: 24px;
}

.prefCheckbox input {
  transform: scale(1.5);
}

.gridPrefCheckbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  justify-content: center;
}
