html {
  background-color: rgb(251, 241, 252);
}

h1.header {
  text-align: center;
  margin: 0;
  padding: 28px;
  color: rgb(58, 18, 0);
}

h2 {
  font-size: 24px;
}

div.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}

.prefCheckbox {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.prefCheckbox p {
  margin: 12px;
  font-size: 24px;
}

.prefCheckbox input {
  transform: scale(1.5);
}

.gridPrefCheckbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  justify-content: center;
}

div.chart {
  width: 100%;
  height: 500px;
}

div.card {
  padding: 20px;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 24px;
}

div.populationSelector {
  margin: 0px 20px;
  font-size: 24px;
  display: flex;
}

.populationSelector input {
  transform: scale(1.5);
  margin-right: 10px;
}

.populationSelector label {
  margin-right: 20px;
}

button.resetButton {
  margin: 4px 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(255, 0, 0);
  color: rgb(251, 241, 252);
  border: none;
  border-radius: 12px;
}

@media (max-width: 768px) {
  h1.header {
    text-align: center;
    margin: 0;
    padding: 16px 10px;
    color: rgb(58, 18, 0);
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  .prefCheckbox p {
    font-size: 16px;
  }

  .prefCheckbox input {
    transform: scale(1);
  }

  .gridPrefCheckbox {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0px;
  }

  .populationSelector label {
    margin-right: 10px;
    font-size: 16px;
  }

  .populationSelector input {
    transform: scale(1);
    margin-right: 6px;
  }

  div.populationSelector {
    display: flex;
    flex-direction: column;
  }

  div.radioItem {
    display: flex;
    flex-wrap: nowrap;
    margin: 4px 0px;
  }

  div.chart {
    width: 100%;
    height: 400px;
  }

  button.resetButton {
    margin: 4px 10px;
    padding: 6px 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    color: rgb(251, 241, 252);
    border: none;
    border-radius: 12px;
  }

  div.card {
    padding: 10px;
  }
}
